@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6f6;
  color: #515151;
  font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
}

header {
  width: 920px;
  margin: 0 auto;
}

header .siteTitle {
  width: 260px;
  float: left;
  margin-top: 50px;
}

header .description {
  float: right;
  margin-top: 15px;
  margin-bottom: 17px;
}

header .description .catchcopy {
  font-size: 10px;
  padding-bottom: 10px;
}

header .description .tel {
  font-size: 25px;
  padding-bottom: 7px;
}

header .description .time {
  font-size: 11px;
  width: 220px;
  text-align: center;
  border: solid 1px #d6d6d6;
  padding: 5px 0;
}

header .description .time span {
  color: #b22C00;
}

header .navi {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ce3e1), to(#6cc6c4));
  background-image: linear-gradient(#9ce3e1 0%, #6cc6c4 100%);
  border: solid 1px #6cc6c4;
  border-radius: 6px;
  clear: both;
}

header .navi ul {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

header .navi ul li {
  width: 20%;
  height: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .navi ul li:hover, header .navi ul li:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6cc6c4), to(#9ce3e1));
  background-image: linear-gradient(#6cc6c4 0%, #9ce3e1 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6cc6c4,endColorstr=#ff9ce3e1,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6cc6c4,endColorstr=#ff9ce3e1,GradientType=0);
  text-shadow: 1px 1px 2px #6CC6C4;
  /*CSS3*/
  -moz-text-shadow: 1px 1px 2px #6CC6C4;
  /* Firefox用*/
  -webkit-text-shadow: 1px 1px 2px #6CC6C4;
  /* Google Chrome, Safari用*/
}

header .navi ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 14px;
  text-shadow: 1px 1px 2px #6CC6C4;
  text-decoration: none;
  border-right: solid 1px #71c9c7;
  border-left: solid 1px #99e1df;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .navi ul li a span {
  font-size: 11px;
}

.contents {
  width: 920px;
  margin: 0 auto;
  margin-top: 20px;
}

.contents .mainPhoto {
  float: right;
}

.contents .news {
  width: 640px;
  background: white;
  padding: 20px;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
}

.contents .news .subHeading {
  font-size: 15px;
  padding: 10px 0;
  border-bottom: solid 3px #6cc6c4;
}

.contents .news dl {
  font-size: 13px;
  padding-bottom: 20px;
}

.contents .news dl dt {
  font-weight: bold;
  padding: 10px 0;
  float: left;
  width: 140px;
}

.contents .news dl dd {
  padding: 10px 10px;
  border-bottom: dotted 1px #cccccc;
}

.contents .menu1 {
  width: 260px;
}

.contents .menu1 h2 {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ce3e1), to(#6cc6c4));
  background-image: linear-gradient(#9ce3e1 0%, #6cc6c4 100%);
  font-size: 17px;
  border: solid 1px #6cc6c4;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 7px 10px;
}

.contents .menu1 ul {
  border: solid 1px #6cc6c4;
  background: white;
  padding: 0 10px 20px 10px;
  list-style: none;
}

.contents .menu1 ul li {
  padding-left: 25px;
  border-bottom: solid 1px #6cc6c4;
}

.contents .menu1 ul li a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #515151;
  padding: 10px 0;
}

.contents .menu2 {
  width: 260px;
  margin-top: 20px;
}

.contents .menu2 h2 {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ce3e1), to(#6cc6c4));
  background-image: linear-gradient(#9ce3e1 0%, #6cc6c4 100%);
  font-size: 17px;
  border: solid 1px #6cc6c4;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 7px 10px;
}

.contents .menu2 ul {
  border: solid 1px #6cc6c4;
  background: white;
  padding: 0 10px 20px 10px;
  list-style: none;
}

.contents .menu2 ul li {
  padding-left: 25px;
  border-bottom: solid 1px #6cc6c4;
}

.contents .menu2 ul li a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #515151;
  padding: 10px 0;
}

footer {
  width: 920px;
  height: 130px;
  margin: 0 auto;
  padding-top: 20px;
  clear: both;
}

footer .footerMenu {
  background: #6cc6c4;
  border-radius: 6px;
  width: 100%;
}

footer .footerMenu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 10px;
}

footer .footerMenu ul li {
  color: white;
  padding: 5px 10px;
}

footer .footerMenu ul li a {
  font-size: 13px;
  text-decoration: none;
  color: white;
}

footer .footerAddress {
  font-size: 13px;
  text-align: right;
  padding: 15px 0;
  border-bottom: solid 2px #6cc6c4;
}

footer .footerAddress span {
  font-weight: bold;
}

footer .copyright {
  font-size: 13px;
  text-align: center;
  padding: 12px 0;
}
/*# sourceMappingURL=mosha1.css.map */